/even_odd.py
/fact.py
/fuctionname.py
/function_arg.py
/function_calcualtor.py
/hoobies.py
/keyword_2.py
/keyword_example.py
/max.py
/minute_converter.py
/nested.py
/positional_keyword.py
/prime.py
/trialpy
/triangle.py
/turtle_rectangle.py